/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/
*.bundle
*.so
*.o
*.a
mkmf.log
.rvmrc
.DS_Store
log/*.log
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/