sudo: false
before_install:
- gem update bundler
- bundle --version
language: ruby
cache: bundler
rvm:
- 2.3.7
- 2.4.4
- 2.5.1
env:

- rails=4.2.6 grape=0.15.0 doorkeeper=3.1.0
- rails=4.2.6 grape=1.0.0 doorkeeper=3.1.0
- rails=4.2.6 grape=1.1.0 doorkeeper=3.1.0
- rails=4.2.6 grape=0.16.2 doorkeeper=4.2.0
- rails=4.2.6 grape=0.16.2 doorkeeper=4.4.1
- rails=4.2.6 grape=1.1.0 doorkeeper=4.2.0
- rails=4.2.6 grape=1.1.0 doorkeeper=4.4.1
- rails=5.0.0 grape=0.16.2 doorkeeper=4.0.0
- rails=5.0.0 grape=0.16.2 doorkeeper=4.1.0
- rails=5.0.0 grape=0.16.2 doorkeeper=4.2.0
- rails=5.0.0 grape=1.0.0 doorkeeper=4.2.0
- rails=5.0.0 grape=1.1.0 doorkeeper=4.2.0
- rails=5.0.0 grape=1.1.0 doorkeeper=4.4.1

addons:
  code_climate:
    repo_token: ab1b6ce5f973da033f80ae2e99fadbb32b2f9c37892703956d8ef954c8e8134e
  after_success:
    - bundle exec codeclimate-test-reporter
notifications:
  hipchat:
    rooms:
      secure: SUWenlDzlDbpryO1QzD+rN4MxIBpAAzwsFqnnkyRQ11thRVdvKuT2TUd+RlYImLXDNkvNjqmpXh7mihtcro9g8unR3nF1UKbuAPIv2kCklsio0jAnjVn7+h1l56hsa90Jy9t/YpKtoLx2QNWLz70n8VrtGJMAt53T6tZdgNUp58=
