sudo: false
language: ruby

before_install:
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '< 2'
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter


install:
  - bundle install --without production --path=${BUNDLE_PATH:-vendor/bundle}  # Install ruby gems, excluding production only gems such as unicorn (already present by default in Travis)

cache:
  - bundler: true

rvm:
- 2.3.8
- 2.4.5
- 2.5.3
- 2.6.0

gemfile:
  - gemfiles/Gemfile.doorkeeper-4.4
  - gemfiles/Gemfile.doorkeeper-5.0
  - gemfiles/Gemfile.doorkeeper-5.1
  - gemfiles/Gemfile.doorkeeper-5.2

env:
  global:
    CC_TEST_REPORTER_ID=ab1b6ce5f973da033f80ae2e99fadbb32b2f9c37892703956d8ef954c8e8134e
  jobs:
    - rails="~> 5.1.6.1" grape=0.19.2
    - rails="~> 5.1.6.1" grape=1.0.3
    - rails="~> 5.1.6.1" grape=1.1.0
    - rails="~> 5.1.6.1" grape=1.2.5
    - rails="~> 5.1.6.1" grape=1.3.0
    - rails="~> 5.2.4.1" grape=0.19.2
    - rails="~> 5.2.4.1" grape=1.0.3
    - rails="~> 5.2.4.1" grape=1.1.0
    - rails="~> 5.2.4.1" grape=1.2.5
    - rails="~> 5.2.4.1" grape=1.3.0
    - rails="~> 6.0.2" grape=0.19.2
    - rails="~> 6.0.2" grape=1.0.3
    - rails="~> 6.0.2" grape=1.1.0
    - rails="~> 6.0.2" grape=1.2.5
    - rails="~> 6.0.2" grape=1.3.0

jobs:
  exclude:
    - rvm: 2.3.8
      gemfile: gemfiles/Gemfile.doorkeeper-5.1
    - rvm: 2.3.8
      gemfile: gemfiles/Gemfile.doorkeeper-5.2
    - rvm: 2.3.8
      env:  rails="~> 6.0.2" grape=0.19.2
    - rvm: 2.3.8
      env:  rails="~> 6.0.2" grape=1.0.3
    - rvm: 2.3.8
      env:  rails="~> 6.0.2" grape=1.1.0
    - rvm: 2.3.8
      env:  rails="~> 6.0.2" grape=1.2.5
    - rvm: 2.3.8
      env:  rails="~> 6.0.2" grape=1.3.0


script:
  #- bundle exec rubocop -DESP           # Backend add in future.
  - bundle exec rake                    # Backend specs

# Pipe the coverage data to Code Climate
after_script:
  - ./cc-test-reporter format-coverage -t simplecov -o coverage/codeclimate.backend.json coverage/backend/.resultset.json # Format backend coverage
  - ./cc-test-reporter sum-coverage coverage/codeclimate.*.json -p 2                  # Sum both coverage parts into coverage/codeclimate.json
  - if [[ "$TRAVIS_TEST_RESULT" == 0 ]]; then ./cc-test-reporter upload-coverage; fi  # Upload coverage/codeclimate.json

notifications:
  hipchat:
    rooms:
      secure: SUWenlDzlDbpryO1QzD+rN4MxIBpAAzwsFqnnkyRQ11thRVdvKuT2TUd+RlYImLXDNkvNjqmpXh7mihtcro9g8unR3nF1UKbuAPIv2kCklsio0jAnjVn7+h1l56hsa90Jy9t/YpKtoLx2QNWLz70n8VrtGJMAt53T6tZdgNUp58=
